<h1> report </h1>
<br />

<div class="row">
  <div class="span9">
    <h2>车型数据</h2>
    <ul>
      <li><%= link_to "sina", '/cars/site', target: '_blank' %></li>
      <li><%= link_to "qq", '/cars/qq', target: '_blank' %></li>
      <li><%= link_to "bitauto", '/cars/bitauto', target: '_blank' %></li>
    </ul>

  </div>
  <div class="span3">
<p>
    
</p>
  </div>
</div>
<div class="row show-grid">
  <div class="span12">
    <ol>
      <li><%= link_to "采集列表——存储品牌厂商车型", "/cars/get_qq_list" , method: :put %></li>

    </ol>
    
  </div>

</div>
<div>
<ol>
  <li>新建任务</li>
  <li>配置任务初始工作文件</li>
  <li>执行任务</li>
  <li>***重复**</li>
  <li>生成新任务列表</li>
  <li>配置新任务工作文件</li>
  <li>执行新任务</li>
  <li>**返回**</li>
</ol>

</div>
